body {
	background-color: #dfd5a5;
}

#row1, #footer {
	background-color: #96897b;
}

.col-sm-1, .col-sm-5, .col-sm-8 {
	padding: 5px 0;
	padding-left: 10px;
}

#target {
	font-weight: bold;
	color: #dfd5a5;
	letter-spacing: 3px;
}

#file {
	pointer-events: none;
}

#msg-disable {
	font-family: roboto;
	color: darkred;
}

a, #foot_text {
	padding: 5px;
	color: white;
	font-size: 14px;
	font-family: roboto;
	letter-spacing: 2px;
}

.custom-file, #first_name, #last_name {
	width: 90%;
}

#about-me {
	width:90%;
	height:200px;
	padding: 5px;
	font:24px roboto;
	border:2px solid #628395;
	border-radius: 5px;
}

a:hover {
	color: #cf995f;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 3px;
}

#row2, #row3, #row4, #row5, #row6 {
    padding-top: 0px;
    padding-bottom: 50px;
}

#row2 {
	padding-top: 50px;
	padding-bottom: 0px;
}

hr {
	width: 85%;
	border-top: 1px solid #628395;
}


#text {
	margin: auto;
	height: auto;
	width: 85%;
	border-radius: 5px;
	padding: 10px;
	object-position: center;
}

h1, h6, h2 {
	font-family: roboto;
	letter-spacing: 2px;
}

h2 {
	padding-bottom: 16px;
}

p {
	font-family: quicksand;
	letter-spacing: 1px;
}

#first_p {
	padding-top: 25px;
}

#author {
	color: #BABABA;
}

#profile_picture {
	padding: 2%;
	width: 16em;
	height: auto;
	border-radius: 50%;
}

input[type=submit] {
	background-color: #628395;
	border: #628395;
}

input[type=submit]:hover {
	background-color: #cf995f;
}

/*628395-96897b-dfd5a5-dbad6a-cf995f */

