main {
	background-color: #fa8334;
}

#error {
	color: #fffd77;
}

h1 {
	color: #388697;
}

.container {
	margin-top: 4rem;
	padding: 1em;
	border-radius: 5px;
	border: 1px solid #fa8334;
}

input[type=submit] {
	margin-top: 1em;
	color: #FFFFFF;
	background-color: #388697;
	border: #388697;
}

label {
	margin-top: 15px;
}

input[type=text], input[type=password] {
	width: 50%;
}

#login-form {
	padding: 1em 0;
	border-top: 1px solid #388697;
}

#registration-link {
	color: #388697;
}