main {
	background-color: #96897b;
}

#error {
	color: #dfd5a5;
}

h1 {
	color: #FFFFFF;
}

.container {
	margin-top: 4rem;
	padding: 1em;
	border-radius: 5px;
	border: 1px solid #96897b;
}

input[type=submit] {
	margin-top: 1em;
	color: #FFFFFF;
	background-color: #dbad6a;
	border: #dbad6a;
}

label {
	color: #dfd5a5;
	margin-top: 15px;
}

input[type=text], input[type=password] {
	width: 100%;
}

#login-form {
	padding: 1em 0;
	border-top: 1px solid #dfd5a5;
}

#registration-link {
	color: #FFFFFF;
}


/* 628395-96897b-dfd5a5-dbad6a-cf995f */