#error {
	color: darkred;
}

h1 {
	color: burlywood;
}

.container {
	margin-top: 4rem;
	padding: 1em;
	border-radius: 5px;
	border: 1px solid gainsboro;
}

input[type=submit] {
	margin-top: 1em;
}

label {
	margin-top: 15px;
}

input[type=text], input[type=password] {
	width: 50%;
}

#login-form {
	padding: 1em 0;
	border-top: 1px solid gainsboro;
}