body {
	background-color: #FFFFFF;
}

#row1, #footer {
	background-color: #cf995f;
}

.col-sm-1, .col-sm-5, .col-sm-8 {
	padding: 5px 0;
	padding-left: 10px;
}

#target {
	font-weight: bold;
	color: #628395;
	letter-spacing: 3px;
}

a, #foot_text {
	padding: 5px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: roboto;
	letter-spacing: 2px;
}

a:hover {
	color: #dbad6a;
	text-decoration: none;
	font-weight: bold;
	letter-spacing: 3px;
}

#row2 {
    padding-top: 25px;
}

hr {
	width: 85%;
	border-top: 1px solid ##f9f9f9;
}


#profile_back {
	height: auto;
	width: auto;
	background-color: #628395;
	border-radius: 60%;
	box-shadow: 5px 10px 18px #888888;
}

#text {
	margin: auto;
	height: auto;
	width: 85%;
	border-radius: 5px;
	padding: 10px;
	object-position: center;
}

h1, h6 {
	font-family: roboto;
	letter-spacing: 2px;
	color: #000000;
}

p {
	font-family: quicksand;
	letter-spacing: 1px;
}

#first_p {
	padding-top: 25px;
}

#author {
	color: #cf995f;
}

#profile_picture {
	padding: 2%;
	width: 16em;
	height: auto;
	border-radius: 50%;
	/*object-position: center;
  	object-fit: cover;*/
}

.d-flex {
	padding: 3%;
    width: 100%;
    height: auto;
}

/*628395-96897b-dfd5a5-dbad6a-cf995f */