main {
	background-color: #628395;
}

#error {
	color: #cf995f;
}

h1 {
	color: #dfd5a5;
}

.container {
	margin-top: 4rem;
	margin-bottom: 4rem;
	padding: 1em;
	border-radius: 5px;
	border: 1px solid #96897b;
}

input[type=submit] {
	margin-top: 1em;
	color: #FFFFFF;
	background-color: #cf995f;
	border: #FFFFFF;
}

label {
	color: #FFFFFF;
	margin-top: 15px;
}

input[type=text], input[type=password] {
	width: 50%;
}

#registration-form {
	padding: 1em 0;
	border-top: 1px solid #dfd5a5;
}

#registration-link {
	color: #FFFFFF;
}

/*628395-96897b-dfd5a5-dbad6a-cf995f */