main {
	background-color: #628395;
}

#error {
	color: #dfd5a5;
}

h1 {
	padding: 0 25%;
	color: #dfd5a5;
}

.container {
	margin-top: 4rem;
	margin-bottom: 4rem;
	padding: 1em;
	border-radius: 5px;
	border: 1px solid #628395;
}

input[type=submit] {
	margin-top: 1em;
	color: #FFFFFF;
	background-color: #cf995f;
	border: #FFFFFF;
}

label {
	color: #FFFFFF;
	margin-top: 15px;
}

input[type=text], input[type=password] {
	width: 100%;
}

#registration-form {
	padding: 1em 0;
	border-top: 1px solid #dfd5a5;
}

a {
	color: #628395;
}

a:hover {
	text-decoration: none;
	color: #DFD5A5;
}

#registration-link {
	color: #FFFFFF;
}

#registration-form {
	padding: 0 25%;
}

/*628395-96897b-dfd5a5-dbad6a-cf995f */